div .element{
    margin-top: 10px;
} 

input[type=text]{
    margin: 0 2% 0 5%; 
    width: 30%;
}

input[type=datetime-local]{
    margin-left: 20px;
}

input[type=checkbox]{
    margin: 0 5px 0 20px;
}
