.title{
    display: table; /* keep the background color wrapped tight */
    margin: 30px auto 30px auto; /* keep the table centered */
    padding:5px;font-size:20px;background-color:black;color: white;
    width: 700px;
    table-layout: fixed;
}


.ans{
    color: #282c34;
    font-family:cursive;
}

.left-but{
    display: inline-flex;
    font-family: cursive;
    padding: 10px;
}
.right-but{
  float: right;
    padding: 10px;

}

.col-sm-3 {
    margin-left: 40px;
    width: 200px;
}

.col-sm-10 {
    margin-left: 12px;
}

